<div class="container" style="color: white;">
        <div class="row" >
                <div class="col-3">
                        Navigation
                        <li style="list-style-type: none; padding-top: 10px;"><a routerLink="videos/popular" onclick="window.scrollTo(0, 0);">Browse
                                        Popular</a></li>
                        <li style="list-style-type: none; padding-top: 5px;"><a routerLink="simulcasts/seasons/summer-2021" onclick="window.scrollTo(0, 0);">Browse
                                        Simulcast</a></li>
                        <li style="list-style-type: none; padding-top: 5px;"><a href="#">Browse
                                        Manga</a></li>
                        <li style="list-style-type: none; padding-top: 5px;"><a href="#">Browse
                                        Calendar</a></li>
                        <li style="list-style-type: none; padding-top: 5px;"><a href="#">Originals</a>
                        </li>
                        <li style="list-style-type: none; padding-top: 5px;"><a href="#">News</a></li>
                        <li style="list-style-type: none; padding-top: 5px;"><a href="#">Forums</a>
                        </li>
                        <li style="list-style-type: none; padding-top: 5px;"><a href="#">Store</a></li>
                        <li style="list-style-type: none; padding-top: 5px;"><a href="#">Games</a></li>
                </div>
                <div class="col-3">
                        Connect With Us
                        <li style="list-style-type: none; padding-top: 10px;"><a href="#">
                                        <img src="../../assets/images/YouTube.png" alt="YouTube"
                                                style="width: 17.5px; height: auto; margin-right: 10px;">Youtube</a>
                        </li>
                        <li style="list-style-type: none; padding-top: 5px;"><a href="#"><img
                                                src="../../assets/images/Facebook.png" alt="Facebook"
                                                style="width: 17.5px; height: auto; margin-right: 10px;">Facebook</a>
                        </li>
                        <li style="list-style-type: none; padding-top: 5px;"><a href="#"><img
                                                src="../../assets/images/Twitter.png" alt="Twitter"
                                                style="width: 17.5px; height: auto; margin-right: 10px;">Twitter</a>
                        </li>
                        <li style="list-style-type: none; padding-top: 5px;"><a href="#"><img
                                                src="../../assets/images/Instagram.png" alt="Instagram"
                                                style="width: 17.5px; height: auto; margin-right: 10px;">Instagram</a>
                        </li>
                </div>
                <div class="col-3">
                        Crunchyroll
                        <li style="list-style-type: none; padding-top: 10px;"><a href="#">About</a></li>
                        <li style="list-style-type: none; padding-top: 5px;"><a href="#">Help/FAQ</a>
                        </li>
                        <li style="list-style-type: none; padding-top: 5px;"><a href="#">Terms of
                                        Use</a></li>
                        <li style="list-style-type: none; padding-top: 5px;"><a href="#">Privacy
                                        Policy</a></li>
                        <li style="list-style-type: none; padding-top: 5px;"><a href="#">AdChoices</a>
                        </li>
                        <li style="list-style-type: none; padding-top: 5px;"><a href="#">Do Not Sell My
                                        Personal Information</a></li>
                        <li style="list-style-type: none; padding-top: 5px;"><a href="#">Press
                                        Inquiries</a></li>
                        <li style="list-style-type: none; padding-top: 5px;"><a href="#">Get the
                                        Apps</a></li>
                        <li style="list-style-type: none; padding-top: 5px;"><a href="#">Redeem Gift
                                        Card</a></li>
                        <li style="list-style-type: none; padding-top: 5px;"><a href="#">Jobs</a></li>
                </div>
                <div class="col-3">
                        Account
                        <li style="list-style-type: none; padding-top: 10px;"><a routerLink="watchlist" onclick="window.scrollTo(0, 0);">Watchlist</a>
                        </li>
                        <li style="list-style-type: none; padding-top: 5px;"><a routerLink="crunchylists" onclick="window.scrollTo(0, 0);">Crunchylists</a></li>
                        <li style="list-style-type: none; padding-top: 5px;"><a href="#">History</a>
                        </li>
                        <li style="list-style-type: none; padding-top: 5px;"><a href="#">My Account</a>
                        </li>
                        <li style="list-style-type: none; padding-top: 5px;"><a href="#">Leave
                                        Feedback</a></li>
                        <li style="list-style-type: none; padding-top: 5px;"><a href="#">Log Out</a>
                        </li>
                </div>
        </div>
</div>
<hr class="solid" style="color: white; width: 1050px; margin-left: 80px; margin-right: auto;">
<div class="row" style="color: darkgray;">
        <div class="col" style="margin-bottom: 40px; margin-left: 80px; margin-top: 30px;">
                © Ellation, LLC
        </div>

        <div class="col" style="margin-bottom: 40px; margin-top: 15px; margin-left: 600px;">
                <div class="btn-group dropup">
                        <button type="button" class="btn dropdown-toggle rounded-0" data-bs-toggle="dropdown"
                                aria-expanded="false" style="border: none; font-weight: 800;">
                                ENGLISH (US)
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end bg-dark"
                                style="width: 190px; height: 450px; overflow-y: auto; scrollbar-arrow-color: transparent;">
                                <li><a href="#" class="dropdown-item">لعربية</a></li>
                                <li><a href="#" class="dropdown-item">Deutsch</a></li>
                                <li><a href="#" class="dropdown-item">English (US)</a></li>
                                <li><a href="#" class="dropdown-item">Español</a></li>
                                <li><a href="#" class="dropdown-item">Español (España)</a></li>
                                <li><a href="#" class="dropdown-item">Français (France)</a></li>
                                <li><a href="#" class="dropdown-item">Italiano</a></li>
                                <li><a href="#" class="dropdown-item">Português (Brasil)</a></li>
                                <li><a href="#" class="dropdown-item">Português (Portugal)</a></li>
                                <li><a href="#" class="dropdown-item">Русский</a></li>
                        </ul>
                </div>
        </div>
</div>