<div class="container" style="color: white;">
    <div class="row">
        <div class="col-md">
            Navigation
            <li><a href="#" style="color: dimgray;">Browse Popular</a></li>
            <li><a href="#" style="color: dimgray;">Browse Simulcast</a></li>
            <li><a href="#" style="color: dimgray;">Browse Manga</a></li>
            <li><a href="#" style="color: dimgray;">Browse Calendar</a></li>
            <li><a href="#" style="color: dimgray;">Originals</a></li>
            <li><a href="#" style="color: dimgray;">News</a></li>
            <li><a href="#" style="color: dimgray;">Forums</a></li>
            <li><a href="#" style="color: dimgray;">Store</a></li>
            <li><a href="#" style="color: dimgray;">Games</a></li>
        </div>
        <div class="col-md">
            Connect With Us
            <li><a href="#" style="color: dimgray;">Youtube</a></li>
            <li><a href="#" style="color: dimgray;">Facebook</a></li>
            <li><a href="#" style="color: dimgray;">Twitter</a></li>
            <li><a href="#" style="color: dimgray;">Instagram</a></li>
        </div>
        <div class="col-md">
            Crunchyroll
            <li><a href="#" style="color: dimgray;">About</a></li>
            <li><a href="#" style="color: dimgray;">Help/FAQ</a></li>
            <li><a href="#" style="color: dimgray;">Terms of Use</a></li>
            <li><a href="#" style="color: dimgray;">Privacy Policy</a></li>
            <li><a href="#" style="color: dimgray;">AdChoices</a></li>
            <li><a href="#" style="color: dimgray;">Do Not Sell My Personal Information</a></li>
            <li><a href="#" style="color: dimgray;">Press Inquiries</a></li>
            <li><a href="#" style="color: dimgray;">Get the Apps</a></li>
            <li><a href="#" style="color: dimgray;">Redeem Gift Card</a></li>
            <li><a href="#" style="color: dimgray;">Jobs</a></li>
        </div>
        <div class="col-md">
            Account
            <li><a href="#" style="color: dimgray;">Watchlist</a></li>
            <li><a href="#" style="color: dimgray;">Crunchylists</a></li>
            <li><a href="#" style="color: dimgray;">History</a></li>
            <li><a href="#" style="color: dimgray;">My Account</a></li>
            <li><a href="#" style="color: dimgray;">Leave Feedback</a></li>
            <li><a href="#" style="color: dimgray;">Log Out</a></li>
        </div>
    </div>
</div>

<div class="row" style="color: darkgray;">
    <div class="col" style="margin-left: 80px; margin-top: 60px;">
        © Ellation, LLC
    </div>
    <div class="col" style="margin-bottom: 40px; margin-top: 50px; margin-left: 600px;">
        <div class="btn-group dropup">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                ENGLISH(US)
            </button>

            <div class="dropdown-menu dropdown-menu-dark">
                <li><a href="#" class="dropdown-item">لعربية</a></li>
                <li><a href="#" class="dropdown-item">Deutsch</a></li>
                <li><a href="#" class="dropdown-item">English (US)</a></li>
                <li><a href="#" class="dropdown-item">Español</a></li>
                <li><a href="#" class="dropdown-item">Español (España)</a></li>
                <li><a href="#" class="dropdown-item">Français (France)</a></li>
                <li><a href="#" class="dropdown-item">Italiano</a></li>
                <li><a href="#" class="dropdown-item">Português (Brasil)</a></li>
                <li><a href="#" class="dropdown-item">Português (Portugal)</a></li>
                <li><a href="#" class="dropdown-item">Русский</a></li>
            </div>
        </div>
    </div>
</div>