<div class="container" style="color: white;">
    <div class="row">
        <div class="col-md">
            Navigation
            <li style="list-style-type: none; padding-top: 10px; font-size: 14.5px;"><a href="#"
                    style="color: dimgray; text-decoration: none;">Browse
                    Popular</a></li>
            <li style="list-style-type: none; padding-top: 5px; font-size: 14.5px;"><a href="#"
                    style="color: dimgray; text-decoration: none;">Browse
                    Simulcast</a></li>
            <li style="list-style-type: none; padding-top: 5px; font-size: 14.5px;"><a href="#"
                    style="color: dimgray; text-decoration: none;">Browse
                    Manga</a></li>
            <li style="list-style-type: none; padding-top: 5px; font-size: 14.5px;"><a href="#"
                    style="color: dimgray; text-decoration: none;">Browse
                    Calendar</a></li>
            <li style="list-style-type: none; padding-top: 5px; font-size: 14.5px;"><a href="#"
                    style="color: dimgray; text-decoration: none;">Originals</a>
            </li>
            <li style="list-style-type: none; padding-top: 5px; font-size: 14.5px;"><a href="#"
                    style="color: dimgray; text-decoration: none;">News</a></li>
            <li style="list-style-type: none; padding-top: 5px; font-size: 14.5px;"><a href="#"
                    style="color: dimgray; text-decoration: none;">Forums</a>
            </li>
            <li style="list-style-type: none; padding-top: 5px; font-size: 14.5px;"><a href="#"
                    style="color: dimgray; text-decoration: none;">Store</a></li>
            <li style="list-style-type: none; padding-top: 5px; font-size: 14.5px;"><a href="#"
                    style="color: dimgray; text-decoration: none;">Games</a></li>
        </div>
        <div class="col-md">
            Connect With Us
            <li style="list-style-type: none; padding-top: 10px; font-size: 14.5px;"><a href="#"
                    style="color: dimgray; text-decoration: none;">Youtube</a>
            </li>
            <li style="list-style-type: none; padding-top: 5px; font-size: 14.5px;"><a href="#"
                    style="color: dimgray; text-decoration: none;">Facebook</a>
            </li>
            <li style="list-style-type: none; padding-top: 5px; font-size: 14.5px;"><a href="#"
                    style="color: dimgray; text-decoration: none;">Twitter</a>
            </li>
            <li style="list-style-type: none; padding-top: 5px; font-size: 14.5px;"><a href="#"
                    style="color: dimgray; text-decoration: none;">Instagram</a>
            </li>
        </div>
        <div class="col-md">
            Crunchyroll
            <li style="list-style-type: none; padding-top: 10px; font-size: 14.5px;"><a href="#"
                    style="color: dimgray; text-decoration: none;">About</a></li>
            <li style="list-style-type: none; padding-top: 5px; font-size: 14.5px;"><a href="#"
                    style="color: dimgray; text-decoration: none;">Help/FAQ</a>
            </li>
            <li style="list-style-type: none; padding-top: 5px; font-size: 14.5px;"><a href="#"
                    style="color: dimgray; text-decoration: none;">Terms of
                    Use</a></li>
            <li style="list-style-type: none; padding-top: 5px; font-size: 14.5px;"><a href="#"
                    style="color: dimgray; text-decoration: none;">Privacy
                    Policy</a></li>
            <li style="list-style-type: none; padding-top: 5px; font-size: 14.5px;"><a href="#"
                    style="color: dimgray; text-decoration: none;">AdChoices</a>
            </li>
            <li style="list-style-type: none; padding-top: 5px; font-size: 14.5px;"><a href="#"
                    style="color: dimgray; text-decoration: none;">Do Not Sell My
                    Personal Information</a></li>
            <li style="list-style-type: none; padding-top: 5px; font-size: 14.5px;"><a href="#"
                    style="color: dimgray; text-decoration: none;">Press
                    Inquiries</a></li>
            <li style="list-style-type: none; padding-top: 5px; font-size: 14.5px;"><a href="#"
                    style="color: dimgray; text-decoration: none;">Get the
                    Apps</a></li>
            <li style="list-style-type: none; padding-top: 5px; font-size: 14.5px;"><a href="#"
                    style="color: dimgray; text-decoration: none;">Redeem Gift
                    Card</a></li>
            <li style="list-style-type: none; padding-top: 5px; font-size: 14.5px;"><a href="#"
                    style="color: dimgray; text-decoration: none;">Jobs</a></li>
        </div>
        <div class="col-md">
            Account
            <li style="list-style-type: none; padding-top: 10px; font-size: 14.5px;"><a href="#"
                    style="color: dimgray; text-decoration: none;">Watchlist</a>
            </li>
            <li style="list-style-type: none; padding-top: 5px; font-size: 14.5px;"><a href="#"
                    style="color: dimgray; text-decoration: none;">Crunchylists</a></li>
            <li style="list-style-type: none; padding-top: 5px; font-size: 14.5px;"><a href="#"
                    style="color: dimgray; text-decoration: none;">History</a>
            </li>
            <li style="list-style-type: none; padding-top: 5px; font-size: 14.5px;"><a href="#"
                    style="color: dimgray; text-decoration: none;">My Account</a>
            </li>
            <li style="list-style-type: none; padding-top: 5px; font-size: 14.5px;"><a href="#"
                    style="color: dimgray; text-decoration: none;">Leave
                    Feedback</a></li>
            <li style="list-style-type: none; padding-top: 5px; font-size: 14.5px;"><a href="#"
                    style="color: dimgray; text-decoration: none;">Log Out</a>
            </li>
        </div>
    </div>
</div>
<hr class="solid" style="color: white; width: 1050px; margin-left: 80px; margin-right: auto;">
<div class="row" style="color: darkgray;">
    <div class="col" style="margin-bottom: 40px; margin-left: 80px; margin-top: 30px;">
        © Ellation, LLC
    </div>
    <div class="col" style="margin-bottom: 40px; margin-top: 30px; margin-left: 600px;">
        <div class="btn-group dropup">
            <button type="button" class="btn btn-secondary dropdown-toggle" style="background-color: transparent;"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ENGLISH(US)
            </button>

            <div class="dropdown-menu dropdown-menu-dark" style="z-index: 9999;">
                <li><a href="#" class="dropdown-item">لعربية</a></li>
                <li><a href="#" class="dropdown-item">Deutsch</a></li>
                <li><a href="#" class="dropdown-item">English (US)</a></li>
                <li><a href="#" class="dropdown-item">Español</a></li>
                <li><a href="#" class="dropdown-item">Español (España)</a></li>
                <li><a href="#" class="dropdown-item">Français (France)</a></li>
                <li><a href="#" class="dropdown-item">Italiano</a></li>
                <li><a href="#" class="dropdown-item">Português (Brasil)</a></li>
                <li><a href="#" class="dropdown-item">Português (Portugal)</a></li>
                <li><a href="#" class="dropdown-item">Русский</a></li>
            </div>
        </div>
    </div>
</div>