<style>
    .carousel.slide {
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 30px; 
        padding-top: 93px;
    }

    /* .carousel-control-prev-icon {
        margin-right: 200px;
    }

    .carousel-control-next-icon {
        margin-left: 200px;
    } */
</style>

<div class="container-fluid" style="background-image: url(../../assets/images/Background.png);">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" style="width: 960px; height: auto;">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../assets/images/Fena Crunchyroll.png" class="d-block w-100" alt="Fena">
            </div>
            <div class="carousel-item">
                <img src="../../assets/images/MHA Crunchyroll.png" class="d-block w-100" alt="MHA">
            </div>
            <div class="carousel-item">
                <img src="../../assets/images/Boruto Crunchyroll.png" class="d-block w-100" alt="Boruto">
            </div>
            <div class="carousel-item">
                <img src="../../assets/images/Jujutsu Crunchyroll.jpg" class="d-block w-100" alt="Jujutsu">
            </div>
            <div class="carousel-item">
                <img src="../../assets/images/TokyoRev Crunchyroll.png" class="d-block w-100" alt="Tokyo Revengers">
            </div>
            <div class="carousel-item">
                <img src="../../assets/images/Tomo Crunchyroll.jpg" class="d-block w-100" alt="Tomo">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        <!-- <div class="card">
            <a class="card-block stretched-link text-decoration-none" href="#" data-bs-slide-to="0">
                <p class="card-text">Fena: Pirate Princess New Episode</p>
            </a>
        </div> -->
    </div>
</div>