a.top-picks {
    text-decoration: none;
    color: white;
    margin-left: -18px;
}

.card {
    font-size: 14px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: transparent;
    color: white;
    width: 170px;
    height: auto;
    overflow: hidden;
}

.card:hover {
    filter: brightness(105%);
    background-color: rgb(19, 19, 19);
}

h1.top-picks {
    color: white;
    margin-left: 105px;
    font-size: 30px;
}

hr.top-picks {
    margin-top: 10px;
    margin-bottom: 10px;
}

img.top-picks {
    width: 150px;
    height: 200px;
    display: block;
    margin-left: -5px;
}

div.scrollmenu.top-picks {
    margin-left: 93px;
    margin-right: 95px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

div.scrollmenu.top-picks div {
    display: inline-block;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 5px;
    text-decoration: none;
}

.scrollmenu::-webkit-scrollbar {
    display: none;
}

.scrollmenu {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

p.top-picks {
    color: turquoise;
    margin-top: 10px;
    margin-left: -18px;
}

span.top-picks {
    color: gray;
}