<div style="background-color: black; padding-top: 50px; padding-bottom: 50px;">
    <h1 class="top-picks">Top Picks for You</h1>
    <hr class="solid top-picks"
        style="background-image: linear-gradient(to right, rgb(255, 72, 0),rgb(255, 213, 73)); width: 1050px; height: 4px; margin-left: auto; margin-right: auto; opacity: unset;">
    <div class="nav">
        <div class="scrollmenu top-picks">
            <div id="card" class="card rounded-0">
                <!-- <img [src]="mobImg" class="card-img-top rounded-0 top-picks" alt="Mob Psycho">
                <div class="card-body">
                    <a href="#" class="stretched-link top-picks">Mob Psycho 100 <p>Series <span>◆ Sub | Dub</span></p></a>
                </div> -->
            </div>
            {{cardProperties("card", mobImg, "Mob Psycho", "Mob Psycho 100", "Series ", "◆ Sub | Dub")}}
            <div id="card2" class="card rounded-0">
                <!-- <img [src]="gintamaImg" class="card-img-top rounded-0 top-picks" alt="Gintama">
                <div class="card-body">
                    <a href="#" class="stretched-link top-picks">Gintama <p>Series <span>◆ Sub | Dub</span></p></a>
                </div> -->
            </div>
            {{cardProperties("card2", gintamaImg, "Mob Psycho", "Mob Psycho 100", "Series ", "◆ Sub | Dub")}}
            <div class="card rounded-0">
                <img [src]="kamuyImg" class="card-img-top rounded-0 top-picks" alt="Golden Kamuy">
                <div class="card-body">
                    <a href="#" class="stretched-link top-picks">Golden Kamuy <p>Series <span>◆ Sub | Dub</span></p></a>
                </div>
            </div>
            <div class="card rounded-0">
                <img [src]="fireImg" class="card-img-top rounded-0 top-picks" alt="Fire Force">
                <div class="card-body">
                    <a href="#" class="stretched-link top-picks">Fire Force <p>Series <span>◆ Sub | Dub</span></p></a>
                </div>
            </div>
            <div class="card rounded-0">
                <img [src]="tanyaImg" class="card-img-top rounded-0 top-picks" alt="Tanya">
                <div class="card-body">
                    <a href="#" class="stretched-link top-picks">Saga of Tanya the Evil <p>Series <span>◆ Sub | Dub</span></p></a>
                </div>
            </div>
            <div class="card rounded-0">
                <img [src]="fenaImg" class="card-img-top rounded-0 top-picks"
                    alt="Fena: Pirate Princess">
                <div class="card-body">
                    <a href="#" class="stretched-link top-picks">Fena: Pirate Princess<p>Series <span>◆ Sub | Dub</span></p></a>
                </div>
            </div>
            <div class="card rounded-0">
                <img [src]="berserkImg" class="card-img-top rounded-0 top-picks"
                    alt="Berserk">
                <div class="card-body">
                    <a href="#" class="stretched-link top-picks">Berserk<p>Series <span>◆ Sub | Dub</span></p></a>
                </div>
            </div>
            <div class="card rounded-0">
                <img [src]="junjiImg" class="card-img-top rounded-0 top-picks"
                    alt="Junji Ito">
                <div class="card-body">
                    <a href="#" class="stretched-link top-picks">Junji Ito Collection<p>Series <span>◆ Sub | Dub</span></p></a>
                </div>
            </div>
            <div class="card rounded-0">
                <img [src]="aceImg" class="card-img-top rounded-0 top-picks"
                    alt="Ace of the Diamond">
                <div class="card-body">
                    <a href="#" class="stretched-link top-picks">Ace of the Diamond<p>Series <span>◆ Subtitled</span></p></a>
                </div>
            </div>
            <div class="card rounded-0">
                <img [src]="overlordImg" class="card-img-top rounded-0 top-picks"
                    alt="Overlord">
                <div class="card-body">
                    <a href="#" class="stretched-link top-picks">Overlord<p>Series <span>◆ Subtitled</span></p></a>
                </div>
            </div>
            <div class="card rounded-0">
                <img [src]="makerunaImg" class="card-img-top rounded-0 top-picks"
                    alt="Makeruna">
                <div class="card-body">
                    <a href="#" class="stretched-link top-picks">Makeruna!! Aku no Gundan!<p>Series <span>◆ Subtitled</span></p></a>
                </div>
            </div>
            <div class="card rounded-0">
                <img [src]="yugiohImg" class="card-img-top rounded-0 top-picks"
                    alt="Yu-Gi-Oh">
                <div class="card-body">
                    <a href="#" class="stretched-link top-picks">Yu-Gi-Oh!<p>Series <span>◆ Sub | Dub</span></p></a>
                </div>
            </div>
            <div class="card rounded-0">
                <img [src]="onepunchImg" class="card-img-top rounded-0 top-picks"
                    alt="One-Punch Man">
                <div class="card-body">
                    <a href="#" class="stretched-link top-picks">One-Punch Man<p>Series <span>◆ Sub | Dub</span></p></a>
                </div>
            </div>
            <div class="card rounded-0">
                <img [src]="megaloImg" class="card-img-top rounded-0 top-picks"
                    alt="MEGALOBOX">
                <div class="card-body">
                    <a href="#" class="stretched-link top-picks">MEGALOBOX<p>Series <span>◆ Subtitled</span></p></a>
                </div>
            </div>
            <div class="card rounded-0">
                <img [src]="ippoImg" class="card-img-top rounded-0 top-picks"
                    alt="Hajime No Ippo">
                <div class="card-body">
                    <a href="#" class="stretched-link top-picks">Hajime No Ippo: The Fighting! - Rising -<p>Series <span>◆ Subtitled</span></p></a>
                </div>
            </div>
            <div class="card rounded-0">
                <img [src]="clubImg" class="card-img-top rounded-0 top-picks"
                    alt="Going Home Club">
                <div class="card-body">
                    <a href="#" class="stretched-link top-picks">Chronicles of the Going Home Club<p>Series <span>◆ Subtitled</span></p></a>
                </div>
            </div>
            <div class="card rounded-0">
                <img [src]="millionImg" class="card-img-top rounded-0 top-picks"
                    alt="Million Lives">
                <div class="card-body">
                    <a href="#" class="stretched-link top-picks">I'm Standing on a Million Lives<p>Series <span>◆ Dubbed</span></p></a>
                </div>
            </div>
            <div class="card rounded-0">
                <img [src]="ninetyoneImg" class="card-img-top rounded-0 top-picks"
                    alt="91 Days">
                <div class="card-body">
                    <a href="#" class="stretched-link top-picks">91 Days<p>Series <span>◆ Sub | Dub</span></p></a>
                </div>
            </div>
            <div class="card rounded-0">
                <img [src]="akagiImg" class="card-img-top rounded-0 top-picks"
                    alt="Akagi">
                <div class="card-body">
                    <a href="#" class="stretched-link top-picks">Akagi (Drama)<p>Series <span>◆ Subtitled</span></p></a>
                </div>
            </div>
            <div class="card rounded-0">
                <img [src]="theatreImg" class="card-img-top rounded-0 top-picks"
                    alt="Theatre of Darkness">
                <div class="card-body">
                    <a href="#" class="stretched-link top-picks">Theatre of Darkness: Yamishibai<p>Series <span>◆ Subtitled</span></p></a>
                </div>
            </div>
        </div>
    </div>
</div>