<nav class="navbar bg-dark py-0" style="height: 62px;">
    <ul class="nav h-100">
        <a class="nav-item logo" routerLink="">
            <img [src]="logo" alt="Crunchyroll logo"
                style="max-width: 188px; height: auto; margin-left: 20px; margin-right: 20px;">
        </a>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle btn-dark top-bar border-0 h-100 rounded-0" type="button"
                data-bs-toggle="dropdown" aria-expanded="false" id="dropDownMenuButton1">
                Browse
            </button>

            <ul class="dropdown-menu top-bar multi-column dropdown-menu-dark rounded-0" style="z-index: 9999;"
                aria-labelledby="dropDownMenuButton1">
                <div class="row ps-5 ms-5">
                    <div class="col-2 py-4">
                        <li><a [class]="browse" routerLink="videos/popular">Popular</a></li>
                        <li><a [class]="browse" href="#">New</a></li>
                        <li><a [class]="browse" href="#">Alphabetical</a></li>
                        <li><a [class]="browse" href="#">Originals</a></li>
                        <li><a [class]="browse" routerLink="simulcasts/seasons/summer-2021">Simulcast Season</a></li>
                        <li><a [class]="browse" href="#">Release Calendar</a></li>
                    </div>
                    <div class="col-1 py-4">
                        <div class="vertical h-75 my-auto"></div>
                    </div>
                    <div class="col-6 py-4">
                        <div class="row w-100 px-0 py-2">GENRES</div>
                        <div class="row w-100 px-0 py-0">
                            <div class="col-4">
                                <li><a [class]="browse" routerLink="videos/action">Action</a></li>
                                <li><a [class]="browse" href="#">Adventure</a></li>
                                <li><a [class]="browse" href="#">Comedy</a></li>
                                <li><a [class]="browse" href="#">Drama</a></li>
                                <li><a [class]="browse" href="#">Fantasy</a></li>
                            </div>
                            <div class="col-4">
                                <li></li>
                                <li><a [class]="browse" href="#">Music</a></li>
                                <li><a [class]="browse" href="#">Romance</a></li>
                                <li><a [class]="browse" href="#">Sci-Fi</a></li>
                                <li><a [class]="browse" href="#">Seinen</a></li>
                                <li><a [class]="browse" href="#">Shojo</a></li>
                            </div>
                            <div class="col-4">
                                <li></li>
                                <li><a [class]="browse" href="#">Shonen</a></li>
                                <li><a [class]="browse" href="#">Slice of life</a></li>
                                <li><a [class]="browse" href="#">Sports</a></li>
                                <li><a [class]="browse" href="#">Supernatural</a></li>
                                <li><a [class]="browse" href="#">Thriller</a></li>
                            </div>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
        <li class="nav-item"><a [class]="link" href="#">
                <p>Manga</p>
            </a></li>
        <li class="nav-item"><a [class]="link" href="#">
                <p>Games</p>
            </a></li>
        <li class="nav-item"><a [class]="link" href="#">
                <p>Store</p>
            </a></li>
        <li class="nav-item"><a [class]="link" href="#">
                <p>News</p>
            </a></li>
    </ul>

    <ul class="nav h-100">
        <button class="btn btn-lg btn-dark top-bar border-0 h-100 rounded-0">
            <a routerLink="/search">
                <svg class="bi" width="20" height="20" color="white">
                    <use xlink:href="bootstrap-icons.svg#search"></use>
                </svg>
            </a>
        </button>



        <button class="btn btn-lg btn-dark top-bar border-0 pt-0 pb-0 h-100 rounded-0">
            <a routerLink="watchlist">
                <svg class="bi" width="20" height="20" color="white">
                    <use xlink:href="bootstrap-icons.svg#bookmark"></use>
                </svg>
            </a>
        </button>

        <div class="nav-item dropdown h-100">
            <button class="btn btn-secondary dropdown-toggle btn-dark top-bar border-0 py-0 h-100 rounded-0"
                type="button" data-bs-toggle="dropdown" aria-expanded="false" id="dropDownMenuButton1">
                <svg width="35" height="30">
                    <circle cx="16" cy="15" r="15" stroke-width="0" fill="white" />
                </svg>
            </button>

            <ul id="username" class="dropdown-menu dropdown-menu-end vh-100 border-0 p-0 rounded-0"
                style="z-index: 9998; width: 388;">
                <div class="scrollmenu">
                    <li><h6 class="dropdown-header fs-5">
                            <svg width="50" height="50">
                                <circle cx="20" cy="30" r="20" stroke-width="0" fill="white" />
                            </svg>
                            Username
                    </h6></li>
                    <div class="dropdown-divider bg-dark"></div>
                    <li id="vids" class="dropdown-item"><a class="text-decoration-none" href="#">
                            <svg class="bi mx-2" width="20" height="20" color="white">
                                <use xlink:href="bootstrap-icons.svg#bookmark"></use>
                            </svg>
                            Watchlist
                        </a></li>
                    <li id="vids" class="dropdown-item"><a class="text-decoration-none" href="#">
                            <svg class="bi mx-2" width="20" height="20" color="white">
                                <use xlink:href="bootstrap-icons.svg#list-ul"></use>
                            </svg>
                            Crunchylists
                        </a></li>
                    <li id="vids" class="dropdown-item"><a class="text-decoration-none" href="#">
                            <svg class="bi mx-2" width="20" height="20" color="white">
                                <use xlink:href="bootstrap-icons.svg#clock-history"></use>
                            </svg>
                            History
                        </a></li>
                    <div class="dropdown-divider bg-dark"></div>
                    <li id="account" class="dropdown-item"><a class="text-decoration-none" href="#">
                            <svg class="bi mx-2" width="20" height="20" color="white">
                                <use xlink:href="bootstrap-icons.svg#person"></use>
                            </svg>
                            My Account<br><p id="sub">Manage your profile and settings.</p>
                        </a></li>
                    <div class="dropdown-divider bg-dark"></div>
                    <li id="feedback" class="dropdown-item"><a class="text-decoration-none" href="#">
                            <svg class="bi mx-2" width="20" height="20" color="white">
                                <use xlink:href="bootstrap-icons.svg#chat-square-dots"></use>
                            </svg>
                            Leave Feedback<br><p id="sub">We'd love to know what you think of the<br>Crunchyroll Beta</p>
                        </a></li>
                </div>
                <div class="dropdown-divider bg-dark"></div>
                <li id="logout" class="dropdown-item mt-4"><a class="text-decoration-none" href="#">
                        <svg class="bi mx-2" width="20" height="20" color="white">
                            <use xlink:href="bootstrap-icons.svg#box-arrow-right"></use>
                        </svg>
                        Log Out
                </a></li>
            </ul>
            <!-- <ul class="dropdown-menu multi-column dropdown-menu-dark" style="border: 100px;"
                aria-labelledby="dropDownMenuButton1">
                <li><a class="text-white" href="#"><img src="">Username</a></li>
                <div class="dropdown-divider"></div>
                <li><a class="text-white" href="#">Watchlist</a></li>
                <li><a class="text-white" href="#">Crunchylists</a></li>
                <li><a class="text-white" href="#">History</a></li>
                <div class="dropdown-divider"></div>
                <li><a class="text-white" href="#">My Account</a></li>
                <div class="dropdown-divider"></div>
                <li><a class="text-white" href="#">Leave Feedback</a></li>
                <li><a class="text-white" href="#"><img src="images/logout.png">Log Out</a></li>
            </ul> -->
        </div>
    </ul>
</nav>