<nav class="navbar bg-dark">
    <ul class="nav">
        <a class="nav-item text-white" href="#">
            <img src="images/crunchyrollbeta.PNG" alt="Crunchyroll logo">
        </a>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown"
                aria-expanded="false" id="dropDownMenuButton1">
                Browse
            </button>

            <ul class="dropdown-menu multi-column dropdown-menu-dark" style="z-index: 9999;"
                aria-labelledby="dropDownMenuButton1">
                <div class="row" style="width: 800px;">
                    <div class="col-md">
                        <li><a class="dropdown-item" href="#">Popular</a></li>
                        <li><a class="dropdown-item" href="#">New</a></li>
                        <li><a class="dropdown-item" href="#">Alphabetical</a></li>
                        <li><a class="dropdown-item" href="#">Originals</a></li>
                        <li><a class="dropdown-item" href="#">Simulcast Season</a></li>
                        <li><a class="dropdown-item" href="#">Release Calendar</a></li>
                    </div>
                    <div class="col-md">
                        <li><a class="dropdown-item" href="#">GENRES</a></li>
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Adventure</a></li>
                        <li><a class="dropdown-item" href="#">Comedy</a></li>
                        <li><a class="dropdown-item" href="#">Drama</a></li>
                        <li><a class="dropdown-item" href="#">Fantasy</a></li>
                    </div>
                    <div class="col-md">
                        <li></li>
                        <li><a class="dropdown-item" href="#">Music</a></li>
                        <li><a class="dropdown-item" href="#">Romance</a></li>
                        <li><a class="dropdown-item" href="#">Sci-Fi</a></li>
                        <li><a class="dropdown-item" href="#">Seinen</a></li>
                        <li><a class="dropdown-item" href="#">Shojo</a></li>
                    </div>
                    <div class="col-md">
                        <li></li>
                        <li><a class="dropdown-item" href="#">Shonen</a></li>
                        <li><a class="dropdown-item" href="#">Slice of life</a></li>
                        <li><a class="dropdown-item" href="#">Sports</a></li>
                        <li><a class="dropdown-item" href="#">Supernatural</a></li>
                        <li><a class="dropdown-item" href="#">Thriller</a></li>
                    </div>
                </div>
            </ul>
        </div>
        <li class="nav-item"><a class="nav-link text-white" href="#">
                Manga
            </a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#">
                Games
            </a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#">
                News
            </a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#">
                Store
            </a></li>
        <!-- <div>
            <button type="button" class="btn btn-dark">
                <li class="nav-item"><a class="nav-link text-white" href="#">
                        Manga
                    </a></li>
            </button>
            <button type="button" class="btn btn-dark">
                <li class="nav-item"><a class="nav-link text-white" href="#">
                        Games
                    </a></li>
            </button>
            <button type="button" class="btn btn-dark">
                <li class="nav-item"><a class="nav-link text-white" href="#">
                        News
                    </a></li>
            </button>
            <button type="button" class="btn btn-dark">
                <li class="nav-item"><a class="nav-link text-white" href="#">
                        Store
                    </a></li>
            </button>
        </div> -->
    </ul>

    <ul class="nav">
        <div>
            <button class="btn btn-lg btn-dark">
                <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg> -->
                <a href="#">
                    <svg class="bi" width="20" height="20" color="white">
                        <use xlink:href="bootstrap-icons.svg#search"></use>
                    </svg>
                </a>
            </button>
        </div>

        <div>
            <button class="btn btn-lg btn-dark">
                <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-bookmarks" viewBox="0 0 16 16">
                    <path
                        d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z" />
                    <path
                        d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z" />
                </svg> -->
                <a href="#">
                    <svg class="bi" width="20" height="20" color="white">
                        <use xlink:href="bootstrap-icons.svg#bookmark"></use>
                    </svg>
                </a>
            </button>
        </div>

        <div class="nav-item dropdown">
            <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown"
                aria-expanded="false" id="dropDownMenuButton1">
                <svg width="35" height="30">
                    <circle cx="16" cy="15" r="15" stroke-width="0" fill="white" />
                </svg>
            </button>

            <div class="dropdown-menu dropdown-menu-end dropdown-menu-dark"
                style="z-index: 9999; width: 388; height: 549.333;">
                <div style="height: 400px; width: 380.333px; overflow:auto;">
                    <button class="dropdown-item text-white" type="button"
                        style="width: 328px; height: 24px; padding-left: 24px; padding-right: 24px; padding-top: 14px; padding-bottom: 14px;">Username</button>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item text-white" type="button"
                        style="width: 328px; height: 24px; padding-left: 24px; padding-right: 24px; padding-top: 14px; padding-bottom: 14px;">Watchlist</button>
                    <button class="dropdown-item text-white" type="button"
                        style="width: 328px; height: 24px; padding-left: 24px; padding-right: 24px; padding-top: 14px; padding-bottom: 14px;">Crunchylists</button>
                    <button class="dropdown-item text-white" type="button"
                        style="width: 328px; height: 24px; padding-left: 24px; padding-right: 24px; padding-top: 14px; padding-bottom: 14px;">History</button>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item text-white" type="button"
                        style="width: 328px; height: 24px; padding-left: 24px; padding-right: 24px; padding-top: 14px; padding-bottom: 14px;">My
                        Account</button>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item text-white" type="button"
                        style="width: 328px; height: 24px; padding-left: 24px; padding-right: 24px; padding-top: 14px; padding-bottom: 14px;">Leave
                        Feedback</button>
                </div>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item text-white" type="button"
                    style="width: 328px; height: 24px; padding-left: 24px; padding-right: 24px; padding-top: 14px; padding-bottom: 14px;">Log
                    Out</button>
            </div>
            <!-- <ul class="dropdown-menu multi-column dropdown-menu-dark" style="border: 100px;"
                aria-labelledby="dropDownMenuButton1">
                <li><a class="text-white" href="#"><img src="">Username</a></li>
                <div class="dropdown-divider"></div>
                <li><a class="text-white" href="#">Watchlist</a></li>
                <li><a class="text-white" href="#">Crunchylists</a></li>
                <li><a class="text-white" href="#">History</a></li>
                <div class="dropdown-divider"></div>
                <li><a class="text-white" href="#">My Account</a></li>
                <div class="dropdown-divider"></div>
                <li><a class="text-white" href="#">Leave Feedback</a></li>
                <li><a class="text-white" href="#"><img src="images/logout.png">Log Out</a></li>
            </ul> -->
        </div>
    </ul>
</nav>