<html>

<head>
    <title>Crunchyroll</title>
</head>

<body style="overflow-x: hidden;">
    <app-flex-layout></app-flex-layout>
<!-- <body style="color: #fff; font-family: Lato,Helvetica Neue,Arial, Helvetica, sans-serif; font-weight: 400; height: 100%; overflow-anchor: none; overflow-x: hidden;"> -->
    <!-- <app-top-bar class="fixed-top">Loading</app-top-bar>
    <app-carousel>Loading</app-carousel>
    <app-top-picks>Loading</app-top-picks>
    
    <app-carousel-cards>Loading</app-carousel-cards>
    <footer style="background-image: linear-gradient(black, rgb(34, 53, 68));">
        <app-bot-bar>Loading</app-bot-bar>
    </footer> -->
</body>

</html>