<div class="container">
    <div class="row pt-5 pb-3">
        <p class="text-center text-white fs-3" style="margin-left: -20px;">
            <svg class="bi" width="30" height="30" color="white">
                <use xlink:href="bootstrap-icons.svg#bookmark"></use>
            </svg>
            My Lists
        </p>
    </div>
    <div class="row justify-content-center">
        <div class="col-2 px-0">
            <button [class]="lists">WATCHLIST</button>
        </div>
        <div class="col-2 px-0">
            <button [class]="lists">CRUNCHYLISTS</button>
        </div>
        <div class="col-2 px-0">
            <button [class]="lists">HISTORY</button>
        </div>
        <div class="col-12">
            <hr class="mt-0">
        </div>
    </div>
</div>