div.scrollmenu {
    margin-left: 80px;
    margin-right: 95px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

div.scrollmenu div {
    display: inline-block;
    text-decoration: none;
}

.scrollmenu::-webkit-scrollbar {
    display: none;
}

.scrollmenu {
    -ms-overflow-style: none;
    scrollbar-width: none;
}